.users__list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0;
  margin: 0 0 14px 0;
  cursor: pointer;
}

.users__list-item:last-of-type {
  margin: 0;
}

.users__list-item-image {
  min-width: 56px;
  height: 56px;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  border-radius: 50%;
}

.users__list-item-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 35px;
  padding: 0;
  margin: 0 0 0 5px;
  overflow: hidden;
}

.users__list-item-name {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 15px;
  line-height: 18px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: #2a5cd4;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.users__list-item-about {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
  color: black;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
