.users {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
}

.users__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 83%;
  max-height: 100vh;
  margin: 0 auto 0;
}

.users__search-form {
  padding: 0;
  margin: 22px 0 0 0;
}

.users__container-title {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 18px 0 0 0;
  padding: 0;
  color: #2a5cd4;
  text-align: center;
}

.users__search-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.users__search-input {
  width: 100%;
  height: 38px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 50px;
}

.users__search-input {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  letter-spacing: 0;
  margin: 0;
  padding: 0 15px 0 15px;
  color: black;
  width: calc(100% - 20px);
}

.users__search-input::placeholder {
    color: #d8d8d8;
  }